.footer{

  display: block;
  flex-direction: column;

  padding-top: 1vh;

}

#container {

  padding: 6vh 4vw;


}

@media (max-width: 767px) {

  #container {

    padding: 3vh 5vw;
    
    margin: 5vh 0;

  }    
}

@media ((max-width: 1023px) and (orientation: landscape)) {

  #container {

    padding: 6vh 4vw;
    
    margin: 10vh 0;

  }    

}
